@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,body{
	font-size: 10px;
	margin: 0;
	font-family: "Open Sans";
}

p{
	margin: 0;
}

.container {
	max-width: 121.4rem;
	margin: 0 auto;
	@media (max-width: 1025px){
		width: 95%;
	} 
}

.header{
	&__title{
		font-size: 3.6rem;
		font-weight: 700;
		color: #45852D;
		text-align: center;
		padding-top: 3.6rem;
	}
}
.filter{
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	label{
		font-size: 1.6rem;
		font-weight: 700;
		padding-right: 1.5rem;
	}
	input{
		width: 25%;
		@media (max-width: 426px){
			width: 70%;
		} 
		padding: 1rem;
		border: 0.1rem solid #D8D8D8;
		box-sizing: border-box;
		border-radius: 2.5rem;
	}
}
.cards{
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		.card{	
			width: 32.3%;
			margin: 1.5rem 0.6rem;
			@media (max-width: 769px){
				width: 49%;
			} 
			@media (max-width: 426px){
				width: 100%;
			}
			&:hover{
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
			} 
			&__img{
				position: relative;	
			}
			img{
				width: 100%;
				height: auto;
			}
			a{
				text-decoration: none;
				color: #363636;		
			}
			&__type{
				font-size: 1.2rem;
				color: #FFF;
				font-weight: 700;
				position: absolute;
				padding: 0.5rem;
				margin: 0;
	    		right: 0%;
	    		bottom: 0%;
			}
			&__type.blue{
				background-color: #006F79;
			}
			&__type.orange{
				background-color: #EC6608;
			}
			&__body{
				background-color: #F8F8F8;
				border: 1px solid #D8D8D8;
				box-sizing: border-box;
				padding: 1.5rem;
				&-title{
					font-size: 2rem;
					font-weight: 700;
					line-height: 2.7rem;
				}
				&-address{
					font-size: 1.6rem;
					font-weight: 400;
					line-height: 2.2rem;
					margin-top: 0.2rem;
				}
				&-price{
					font-size: 1.6rem;
					font-weight: 400;
					line-height: 2.2rem;
					margin-top: 1.5rem;
					span{
						font-weight: 700;
					}
				}
				p:last-child{
					font-size: 1.4rem;
					line-height: 1.9rem;
					margin-top: 0.7rem;
				}
			}
		}
	}
}
.see-more{
	button{
		display: block;
		margin: 5rem auto;
		padding: 1rem 5rem 1rem 3rem;
		border: 1px solid #D8D8D8;
		box-sizing: border-box;
		border-radius: 25px;
		background-color: #FFF;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 2.4rem;
		cursor: pointer;
		position: relative;
		transition: 0.3s;
		&::after{
			content: "";
    		display: block;
    		background: url(../img/arrow.svg) no-repeat;
    		width: 2.2rem;
    		height: 2.0rem;
    		top: 1.4rem;
    		right: 2rem;
    		position: absolute;
		}
		&:hover{
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
		}
	}
}